<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <h1 style="float:left"><%=link_to "RAINFOREST", products_path %> </h1>    <p class="userinfo" style="float:right;">
      <% if current_user %>
        Signed in as <%= link_to current_user.name, user_path(current_user.id) %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
      <% else %>
        <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
      <% end %>
    </p>
    <br/>
  <% if flash[:notice] %>
    <div style="float:right; clear:right" id="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div style="float:right; clear:right" id="alert"><%= flash[:alert] %></div>
  <% end %>
<div style="clear:both">
<%= yield %>
</div>
</body>
</html>
